
.fimfic2epub-logo {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	height: 26px;
	width: 26px;
	cursor: pointer;
	transition: all .05s ease-out;
	-webkit-user-select: none;
	user-select: none;
}
.fimfic2epub-logo:hover {
	opacity: 0.8;
	margin-top: 4px;
	margin-right: 4px;
	width: 28px;
	height: 28px;
}
.fimfic2epub-logo:active {
	margin-top: 6px;
	margin-right: 6px;
	height: 24px;
	width: 24px;
}

#epubDialogContainer .drop-down-pop-up-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
	padding: 0;
	margin: 0;
}
#epubDialogContainer .drop-down-pop-up-container .drop-down-pop-up {
	width: 650px;
}
#epubDialogContainer .drop-down-pop-up-container .drop-down-pop-up h1 {
	cursor: move;
}

#epubDialogContainer table.properties {

}

#epubDialogContainer table.properties textarea {
	line-height: 1.2em;
	font-size: 0.95em;
	resize: vertical;
}

#epubDialogContainer table.properties td.label {
	white-space: nowrap;
}

#epubDialogContainer table.properties input:invalid {
	background-repeat: no-repeat;
	background-position: 8px center;
}

#epubDialogContainer div.rating_container {
	padding-top: 10px;
}

#epubDialogContainer div.rating_container div.bar_container {
	width: 150px;
	margin-right: 4px;
}

#epubDialogContainer div.rating_container div.bar_dislike {
	background-color: transparent;
}

#epubDialogContainer div.rating_container div.bar {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}
