.DS_Store
node_modules/
extension/fimfic2epub.js
extension/eventPage.js
extension/*.js.map
extension.crx
extension.pem
extension.xpi
extension.zip
fimfic2epub.safariextension/
fimfic2epub.js
fimfic2epub.js.map
*.epub
