# git ignore
.DS_Store
node_modules/
extension/fimfic2epub.js
extension/eventPage.js
extension.crx
extension.pem
extension.xpi
extension.zip
fimfic2epub.safariextension/
*.epub

# npm ignore
extension/
assets/
