
// Font Awesome icons!
@font-face {
  font-family: 'FontAwesome';
  src: url('../Fonts/fontawesome-webfont-subset.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
