
// Fix for iBooks dark modes
bgcolor(bgcolor) {
  background-color: bgcolor;
  background: -webkit-linear-gradient(bgcolor, bgcolor);
}

textcolor(color) {
  color: color;
  -webkit-text-fill-color: color;
}
