
@require 'mixins'
@require 'reset'

@page {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}


body {
  background-color: white;
  color: black;
  text-align: justify;
  hyphens: auto;
  -epub-hyphens: auto;
}

a, u {
  text-decoration-skip: ink;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 0;

  &.double {
    margin-top: 1em;
  }
  &.double2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  &.indented {
    text-indent: 1em;
  }
}
div p {
  text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left !important;
  hyphens: none;
  -epub-hyphens: none;
}

em {
  font-style: italic;
}
em em {
  font-style: normal;
}

.chapter-title {
  padding-top: 0.5em;
  margin-bottom: 1.5em;

  aside.info {
    margin-left: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
    line-height: 1.2;
    float: right;
    text-align: right !important;
    white-space: nowrap;

    span {
      font-size: 0.8em;
      opacity: 0.6;
      font-style: italic;
      display: block;
      height: 1.1em;
    }
  }

  header {
    padding-top: 1em;
    margin-bottom: 0.3em;
    float: left;

    h1 {
      margin: 0;
      font-size: 1.25em;
      font-weight: normal;
    }
  }
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
img.emoji {
  height: 1em;
  vertical-align: top;
}
img.emoticon {
  height: 1.3em;
  vertical-align: bottom;
}

hr {
  box-sizing: border-box;
  padding: 0;
  border: none;
  text-align: center !important;
  line-height: 0;

  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #999;
  border-color: currentColor;

  height: 0.15em;
  min-height: 4px;
  background: transparent;
  width: 90%;
  margin: 2em auto;

  clear: both;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

// This looks bad on black background/dark themes
/*hr:after {
  display: inline-block;
  position: relative;
  top: -0.5em;
  font-size: 1.0em;
  padding: 0 0.5em;
  background: white;
  line-height: 1.0em;

  color: #999;
  color: currentColor;
  content: "\274A   \274A   \274A";
  margin-top: 2px;
}*/

hr.old {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 0;
  min-height: 0;
  border: none;
  border-bottom: 1px solid #999;
  border-color: currentColor;
  opacity: 0.5;
  width: 100%;
}

blockquote {
  clear: both;
  margin: 1em 0;
  padding: 0.1px 0;
  padding-left: 4%;
  border: none;
  border-left: 0.4rem solid #CCC;
  border-left: 0.4rem solid rgba(0,0,0,0.2);
  // bgcolor(#EEE);
  // bgcolor(rgba(0,0,0,0.075));
  // clearfix
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /:root[__ibooks_internal_theme*="Night"] & {
    border-color: rgba(255,255,255,0.2);
    // bgcolor(rgba(255,255,255,0.1));
  }
}

.bbcode-figure-left {
  max-width: 40%;
  float: left;
  margin: 0;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.bbcode-figure-right {
  max-width: 40%;
  float: right;
  margin: 0;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
figure img {
  border-radius: 5px;
}
.bbcode-indent {
  &-1 { margin-left: 1em; }
  &-2 { margin-left: 2em; }
  &-3 { margin-left: 3em; }
  &-4 { margin-left: 4em; }
}
.bbcode-pre-line p {
  text-indent: 0 !important;
}

sub {
  font-size: 0.675em;
  line-height: 1.2;
  vertical-align: sub;
  vertical-align: -20%;
}
sup {
  font-size: 0.675em;
  line-height: 1.2;
  vertical-align: super;
  vertical-align: 35%;
}
code {
  font-family: monospace;
  background-color: #DDD;
  bgcolor(rgba(200, 200, 200, 0.2));
  padding: .1875rem;
  border-radius: .3125rem;
}
pre {
  margin: 1em 0;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left !important;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.4;
}
pre code {
  padding: 1em;
  padding: 1rem;
  display: block;
  position: relative;
  ord-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}
.spoiler {
  background-color: black;
  color: transparent;
  /:root[__ibooks_internal_theme*="Gray"] &, /:root[__ibooks_internal_theme*="Night"] & {
    background-color: white;
  }
  &:hover {
    background-color: initial;
    color: inherit;
    /:root[__ibooks_internal_theme*="Gray"] &, /:root[__ibooks_internal_theme*="Night"] & {
      background-color: initial;
    }
  }
}

figure.youtube {
  clear: both;
  margin: 0 auto;
  padding: 1em 0;
  width: 70%;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  
  & > a {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  
  img {
    display: block;
    width: 100%;
    border-radius: 7px;
  }

  figcaption {
    line-height: 1rem;
    text-align: center !important;
    margin-top: .3rem;

    a {
      font-style: italic;
      font-size: 0.75rem;
    }
  }
}

svg.chapterbars {
  width: 100%;
  display: block;
  margin: 1em 0;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.leftalign {
  text-align: left !important;
}

#author_notes {
  clear: both;

  border: 1px solid #DDD;
  border-radius: 3px;
  line-height: 1.7em;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #EEE;
  color: #555;
  
  /:root[__ibooks_internal_theme*="Gray"] &, /:root[__ibooks_internal_theme*="Night"] & {
    border-color: #333;
    bgcolor(#1A1A1A);
  }
}

a.chaptercomments {
  clear: both;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;

  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 1em;
  padding: 0.5em 1em;
  cursor: pointer;

  textcolor(#fff);
  font-weight: normal;
  font-family: sans-serif;
  font-size: 0.9em;
  text-shadow: -1px -1px #699739;

  box-shadow: 0px 1px #81b945 inset;
  border-radius: 3px;
  border: 1px solid #699739;
  border-bottom-color: #638f36;
  border-top-color: #6fa03c;
  outline: none;

  bgcolor(#7bb042);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bb042), color-stop(100%, #6fa03c));
  background: -webkit-linear-gradient(top, #7bb042 0%, #6fa03c 100%);
  background: linear-gradient(to bottom, #7bb042 0%, #6fa03c 100%);
}

