
@require 'mixins'

.title {
  margin: 1em 0;
  text-align: left !important;
  vertical-align: middle;
  
  .story_name, .author {
    display: inline-block;
    font-family: sans-serif;
    text-align: left !important;
  }

  .story_name {
    font-size: 1.5em;
    color: #222;
    font-weight: bold;
    margin-right: 5px;
  }

  .author {
    margin: 0;
    font-size: 0.9em;
    color: #444;
    font-weight: normal;
    display: inline-block;
    
    a {
      font-weight: bold;
    }
  }
}

#description p {
  margin: 1em 0;
  text-indent: 0;
}

.content-rating {
  textcolor(#fff);
  display: inline-block;
  padding: 0.3em 0.5em;
  line-height: 1.0em;
  border-radius: 4px;
  font-size: .8125rem;
  vertical-align: 4px;
  margin-right: 0.4em;
  margin-right: .3125rem;
  font-family: sans-serif;

  &-everyone {
    bgcolor(#78ac40);
    border: 1px solid #6c9b3a;
  }
  &-teen {
    bgcolor(#ffb400);
    border: 1px solid #e6a200;
  }
  &-mature {
    bgcolor(#c03d2f);
    border: 1px solid #ad372a;
  }
}

.readlink {
  text-align: left !important;
  font-size: 0.9em;
  line-height: 1.1em;
}

// Tags
.tags {
  margin-bottom: 0.6em;
  text-align: left !important;
  font-size: 0.8em;
  .tagbox {
    display: inline-block;
    padding-right: 5px;
    padding-right: 0.3em;
  }
}
.story-tag {
  display: inline;
  padding: 0.3em 0.5em;
  margin-bottom: 0.3em;
  line-height: 1.0em;
  bgcolor(#444);
  textcolor(#fff);
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #525252;
  font-family: sans-serif;
}
.tag-series {
  bgcolor(#a151bd);
  border: 1px solid #8945a1;
}
.tag-genre {
  bgcolor(#4f91d6);
  border: 1px solid #437bb6;
}
.tag-character {
  bgcolor(#23b974);
  border: 1px solid #1e9d63;
}
.tag-warning {
  bgcolor(#d6605a);
  border: 1px solid #b6524d;
}

.bottom {
  margin-top: 1em;
  text-align: left !important;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

// Statuses
.completed-status {
  margin-bottom: 0.5em;
  font-family: sans-serif;
  font-size: .875em;
  font-weight: normal;
  padding: 0.3em 0.5em;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  display: inline-block;
  text-align: center !important;
  textcolor(#fff);
  vertical-align: middle;

  i.fa {
    margin-right: 0.1em;
  }
  &-complete {
    bgcolor(#63bd40);
    border-color: #59aa3a;
    // check
  }
  &-incomplete {
    bgcolor(#F7A616);
    border-color: #de9514;
    // pencil
  }
  &-hiatus {
    bgcolor(#bd7b40);
    border-color: #aa6f3a;
    // pause
  }
  &-cancelled {
    bgcolor(#bc3131);
    border-color: #a92c2c;
    // ban
  }
}

// Last Modified and First Published
.infobox {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  
  .heading, .data {
    font-family: sans-serif;
    font-size: 0.8em;
    text-align: center !important;
  }

  .wrap {
    line-height: 0.9em;
    vertical-align: middle;
    display: inline-block;
    text-align: center !important;
  }

  .heading {
    font-weight: normal;
    color: #444;
  }
}
