
body {
  background-color: white;
  color: black;
  text-align: justify;
}

p {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
  text-indent: 0.0em;

  &.double {
    margin-top: 1.0em;
  }
  &.double2 {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
  }
  &.indented {
    text-indent: 1.0em;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

hr {
  background-color: #999;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  color: #999;
  height: 1px;
  border: 0px;
}

blockquote {
  margin: 10px 0px;
  padding: 20px;
  border: none;
  border-left: 5px solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);

  &.left_insert, &.right_insert {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px;
    background-color: #F7F7F7;
    border: 1px solid #AAA;
    width: 50%;
    box-shadow: 5px 5px 0px #EEE;
  }
  &.left_insert {
    margin-right: 25px;
    float: left;
  }
  &.right_insert {
    margin-left: 25px;
    float: right;
  }
}

figure.youtube {
  margin: 1em auto;
  width: 60%;
  max-width: 640px;
  
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px;
  
  img {
    display: block;
    width: 100%;
  }

  figcaption {
    line-height: 1em;
    text-align: left;
    padding: 3px;

    a {
      font-style: italic;
      font-size: 0.75em;
    }
  }
}

.leftalign {
  text-align: left;
}

#author_notes {
  clear: both;
  border: 1px solid;
  border-radius: 3px;
  line-height: 1.7em;
  padding: 16px;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

#toc {
  ol {
    list-style-type: none;
  }

  [hidden] {
    display: none;
  }
}
