
@require 'mixins'

body {
  background-color: white;
  color: black;
  text-align: justify;
}

p {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
  text-indent: 0.0em;

  &.double {
    margin-top: 1.0em;
  }
  &.double2 {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
  }
  &.indented {
    text-indent: 1.0em;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

.chapter-title {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  h1 {
    font-size: 1.25em;
    font-weight: normal;
    margin: 0;
  }
  & + p.indented {
    text-indent: 0;
  }
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

hr {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  height: 0;
  border: 0;
  border-bottom: 1px solid #999;
}

blockquote {
  margin: 10px 0px;
  padding: 20px;
  border: none;
  border-left: 5px solid rgba(0,0,0,0.2);
  bgcolor(rgba(0,0,0,0.1));
  
  /:root[__ibooks_internal_theme*="Night"] & {
    border-color: rgba(255,255,255,0.2);
    bgcolor(rgba(255,255,255,0.1));
  }

  &.left_insert, &.right_insert {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px;
    background-color: #F7F7F7;
    border: 1px solid #AAA;
    width: 50%;
    box-shadow: 5px 5px 0px #EEE;
    /:root[__ibooks_internal_theme*="Gray"] & {
      bgcolor(rgba(0,0,0,0.1));
      box-shadow: 5px 5px 0px #666;
    }
    
    /:root[__ibooks_internal_theme*="Night"] & {
      bgcolor(rgba(255,255,255,0.1));
      box-shadow: none;
    }
  }
  &.left_insert {
    margin-right: 25px;
    float: left;
  }
  &.right_insert {
    margin-left: 25px;
    float: right;
  }
}

figure.youtube {
  margin: 1em auto;
  width: 60%;
  max-width: 640px;
  
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px;
  
  img {
    display: block;
    width: 100%;
  }

  figcaption {
    line-height: 1em;
    text-align: left;
    padding: 3px;

    a {
      font-style: italic;
      font-size: 0.75em;
    }
  }
}

.leftalign {
  text-align: left;
}

#author_notes {
  clear: both;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 1.7em;
  padding: 16px;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  background-color: #EEE;
  color: #555;
  
  /:root[__ibooks_internal_theme*="Gray"] &, /:root[__ibooks_internal_theme*="Night"] & {
    border-color: #333;
    bgcolor(#1A1A1A);
    textcolor(#aaa);
  }
}

#toc {
  ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  [hidden] {
    display: none;
  }
}
